.project{
    padding: 15px;
    margin-top: 50px;
    scroll-behavior: smooth;
    box-sizing: border-box;
  }
  h1,h2,h3,h4,h5,h6{
    font-family: Space Grotesk;
    color: #025;
  }
  p{
    font-family: DM Sans;
    color: #025;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
    
}
.project .section1{
  padding: 60px 15%;
  flex-direction: column;
  margin-bottom: 15px;
}
.project .section1 .titleDiv h1{
  font-size: 54px;
  font-weight: 600;
  color: #025;
  text-transform: uppercase;
  
}
.project .section1 .nameDiv .name{
  font-size: 20px;
  font-weight: 600;
  color: #025;
}
.project .section2 {
  padding: 60px 15%;
  background-color: rgb(245,245,245);
  border-radius: 20px;
  flex-direction: column;
  margin-bottom: 15px;
}
.project .section2 .contentDiv .title{
  font-size: 54px;
  font-weight: 600;
  color: #025;
  text-transform: uppercase;
}
.project .section2 .contentDiv .description{
  font-size: 16px;
  font-weight: 500;
  color: #025;
}
.project .section3{
  padding: 60px 15%;
  flex-direction: column;
}
.project .section3 .contentDiv .title{
  font-size: 50px;
  font-weight: 600;
  color: #025;
  text-transform: uppercase;
}
.project .section3 .contentDiv .description{
  font-size: 16px;
  font-weight: 400;
  color: #025;
}
.project .section4{
  padding: 60px 10%;
  margin-bottom: 15px;
  border-radius: 20px;
  background-color: rgb(245,245,245);
  flex-direction: column;
}
.project .section4 .featureDiv{
  display: flex;
  justify-content: center;
}
.project .section4 .featureDiv .featureBox{
  transition: .3s ease-in-out;
}
.project .section4 .featureDiv .featureBox:hover{
  transform: scale(1.02);
  cursor: pointer;
}
.project .section5{
  flex-direction: column;
  gap: 0;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
  padding: 0 15%;
}
 .project .section5 .row{
  width: 100%;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  gap: 50px;
 }
 .project .section5 .row2{
  flex-direction: row-reverse;
 }
.project .section5 .row .imgDiv{
  display: flex;
  justify-content: left;
  padding: 0;
 }
.project .section5 .row .imgDiv img{
  height: 280px;
}
.project .section5 .row .contentDiv{
  flex-direction: column;
  row-gap: 15px;
  padding: 0;
}
.project .section5 .row .contentDiv .title{
  font-size: 22px;
  color: #025;
  display: flex;
  gap: 10px;
  align-items: center;
  text-transform: uppercase;
}
.project .section5 .row .contentDiv .title img{
  height: 30px;
}
.project .section5 .row .contentDiv ul li{
  list-style-type: disc;
  font-size: 14px;
  font-family: DM Sans;
  margin-bottom: 8px;
  color: #025;
}
.project .section6{
  margin-bottom: 15px;
  border-radius: 20px;
  background-color: rgb(245,245,245);
  padding: 50px 10%;
  flex-direction: column;
}
.project .section6 .contentDiv{
  justify-content: center;
  align-items: center;
}
.project .section6 .contentDiv .logo img{
  height: 30px;
}
.project .section6 .contentDiv .title{
  font-size: 50px;
  font-weight: 600;
  color: #025;
}
.project .section6 .contentDiv .description{
  font-size: 16px;
  font-weight: 500;
  color: #025;
}
.project .section6 .subImg{
  row-gap: 30px;
  justify-content: center;
}
.project .section6 .row .imgDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}
.project .section6 .row .imgDiv img{
   width: 80%;
}

.project .section9{
  padding: 40px 12%;
  margin-bottom: 15px;

}
.project .section9 .contentDiv{
  background: #00c6ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: blue;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  
}
.project .section9 .contentDiv .content{
  flex-direction: column;
  row-gap: 10px;
  padding: 40px 8%;
}
.project .section9 .contentDiv .content .title{
  font-size: 38px;
  color: white;
  font-family: Space Grotesk;
  font-weight: 600;
  
}
.project .section9 .contentDiv .content .description{

  font-size: 16px;
  color: white;
  font-family: DM Sans;
  font-weight: 500;  
}
.project .section9 .contentDiv .content .button{
  width: max-content;
  font-size: 16px;
  color: rgb(0, 102, 255);
  font-family: DM Sans;
  font-weight: 500;
  background-image: linear-gradient(to right, #005C97 0%, #363795  51%, #005C97  100%);
  border-radius: 6px;
  background: white;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.584);
  
}
.project .section9 .contentDiv .imgBox{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.project .section9 .contentDiv .imgBox img{
  width: 90%;

}



@media screen and (max-width:991.98px) {
  .project .section1{
    padding: 40px 10% !important;
  }
  .project .section2{
    padding: 60px 10% !important;
  }
  .project .section2 .contentDiv .title{
    font-size: 38px;
  }
  .project .section3{
    padding: 60px 10%;
  }
  .project .section3 .contentDiv .title{
    font-size: 38px;

  }
  .project .section5{
    padding: 0 10% !important;
  }
  
}
@media screen and (max-width:767.98px) {
.project  .section9{
    padding: 35px 8%;
}
.project .section9 .contentDiv .content {
    padding: 20px 5%;
}
.project .section9 .contentDiv .content .title{
    font-size: 28px;
}
.project .section9 .contentDiv .content .description{
    font-size: 15px;
}
.project .section2 .contentDiv .title{
  font-size: 32px;
}
.project .section3 .contentDiv .title{
  font-size: 32px;
}
.project .section6 .contentDiv .title{
  font-size: 32px;
}
}
