.myService{
    border: 2px;
    padding: 0;
    margin: 0;
    height: 300px;
    flex-direction: column;
    padding: 10px;
    cursor: pointer;
}
.myService .box1{
    padding: 15px 20px;
}
.myService .box1 .icon{

    padding: 10px;
    border-radius: 50%;
    background: #0052D4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(36deg, #6FB1FC, #4364F7, #0052D4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(36deg, #6FB1FC, #4364F7, #0052D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #0052D4;
    color: white;
    width: 50px;
}
.myService .box1 .number{
    font-size: 62px;
    color: #025;
    font-weight: 500;
    font-family: Space Grotesk;

}
.myService .title{
    color: #001755;
    font-family: Space Grotesk;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.myService .description{
    color: #001755;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}