.software{
    width: 100%;
    height: max-content;
    box-sizing: border-box;
    flex-direction: column;
    gap: 12px;
    transition: 0.3s ease-in-out;

}
.software .imgBox{
    position: relative;
}
.software .imgBox img{
    width: 100%;

}
.software .btnBox{
    width: 100%;
    flex-wrap: wrap;

}
.software .btnBox .btn{
    padding: 2px 12px;
    border-radius: 12px;
    background-color: white;
    color: #025;
    box-shadow: 2px 2px 2px silver;
    font-size: 14px;
    font-weight: 500;
    font-family: DM Sans;
    
}
.software .imgBox i{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 10px;
    transform: rotate(45deg);
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
    
}
.software .name{
    margin-top: 10px;
    font-size: 24px;
    color: #025;
    font-weight: 600;
}
