.my-button {
    background-image: linear-gradient(to right, #00c6ff 0%, #0072ff  51%, #00c6ff  100%);
    padding: 8px 14px;
    font-weight: 500;
    text-align: center;
    width: max-content;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 6px;
    text-decoration: none;
    display: block;
    height: max-content;
  }

  .my-button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
.header{
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
    padding: 15px;
    background-color: #ffffff;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(192, 192, 192, 0.662);
    
}
.header .bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    position: relative;
    
}
.header .bar .logoDiv{
    padding: 0;
}
.header .bar .logoDiv .logo{
    height: 40px;
    width: auto;
    cursor: pointer;
}
.header .bar .menuDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
}
.header .bar .menuDiv .menu{
    height: auto;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 34px;
    padding: 0;
}
.header .bar .menuDiv .menu .link{
    color: #025;
    font-size: 16px;
    font-family: Space Grotesk;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    padding: 5px 0;
    background-color: white;
}
.header .bar .menuDiv .menu .link:hover::before{
    width: 100%;
}
.header .bar .menuDiv .menu .link::before{
    position: absolute;
    bottom:-2px;
    height: 2.5px;
    
    width: 0%;
    content: '';
    background-color: #0099ff;
    transition: .2s ease-in;
}
.header .bar .menuDiv .btn-contact{
    font-family: Space Grotesk;
    padding: 6px 14px;
    border-radius: 6px;
    font-size: 16px;
    color: #ffffff;
    background: #0072ff;
}
.header .bar .menuDiv .menu .link.active::before{
    width: 100%;
}

.header .bar .btnDiv {
    display: none;
    justify-content: center;
}
.header .bar .btnDiv .btn-toggle{
    width: max-content;
    font-size: 26px;
    color: #0072ff;
    padding: 0 6px;
    border-radius: 4px;
    --border: 1.5px solid #025;
    cursor: pointer;

}
.header .bar .phoneDiv{
    display: none;
    align-items: center;
    justify-content: center;
}
.header .bar .phoneDiv .btn-phone{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;

    
}
#show{
    left: 0;
}


@media screen and (max-width:767.98px ) {
    .header .bar .menuDiv{
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        --justify-content: center;
        top: 50px;
        width: 100%;
        left: -1000px;
        right: 0;
        padding: 20px;
        row-gap: 30px;
        background-color: rgb(255, 255, 255);
        transition: 0.3s ease-in-out;
        box-shadow: 0 0 10px rgba(192, 192, 192, 0.612);
    }
    .header .bar .menuDiv .menu{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .header .bar .btnDiv {
        display: flex;
    }
    .header .bar .phoneDiv{
        display: flex;
    }
}
@media screen and (min-width:1400px) {
    .header{
        padding: 18px;
  
    }
    .header .bar .logoDiv .logo{
        height: 60px;
    }
    .header .bar .menuDiv .menu .link{

        font-size: 20px;
        padding: 8px 0;
    }
    .header .bar .menuDiv .btn-contact{
        padding: 8px 16px;
        font-size: 20px;

    }
}



