.fixed{
    width: 100%;
    height: max-content;
    position: fixed;
    top: 0;
    left: 50%;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    transform: translateX(-50%);
    padding-top: 15px;
}
.header{
    background-color: #fff;
    padding: 8px 30px;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgb(200,200,200);
    
}
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.bar {
    display: flex;
    align-items: center;
    position: relative;
    
}
.bar .logo{

    padding: 0;
}
.bar .logo img{
    width: 100px;
}
.bar .menuBar{
    display: flex;
    justify-content: space-between;
}   
.bar .menuBar .menu{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
} 
.bar .menuBar .menu .link{
    cursor: pointer;
    font-size: 16px;
    color: #035;
    font-family: DM Sans;
    font-weight: 500;
    text-decoration: none;
}   
.bar .menuBar .menu .link:hover{
    color: #4464d6;
}
.bar .menuBar .appointment{
    width: 40%;
    display: flex;
    justify-content: right;
    height: max-content;
}
.bar .menuBar .appointment span{
    cursor: pointer;
    font-size: 15px;
    color: #035;
    display: flex;
    font-weight: 500;
    align-items: center;
    font-family: DM Sans;
    flex-direction: row;
    gap: 5px;
    height: max-content;
}
.bar .menuBar .appointment span i{
    
    border-radius: 50%;
    background-color: blue;
    color: white;
    font-size: 10px;
    padding: 6px;
    border: 0.5px solid gray;
}
.bar .btnMenu{
    font-size: 18px;
    justify-content: right;
    display: none;

}
.bar .btnMenu i{
    cursor: pointer;
}

#show{
    left: 0;
    
}
 @media screen and (max-width:767.98px) {
    .fixed{
        padding-top: 10px;
    }
    .header{
        border-radius: 20px;
    }
    .bar .logo img{
        width: 90px;
    }
    .bar .menuBar {
        z-index: 2000;
        margin: 0 !important;
        padding: 0 !important;
        display: flex;
        justify-content: left;
        flex-direction: column;
        position: absolute;
        left: -1000px;
        top: 150%;
        background-color: #EBF5FB ;
        border-radius: 8px;
        box-shadow: 0 0 12px silver;
        transition: .3s ease-in;
        
    }
    .bar .menuBar .menu{
        width: 100%;
        display: flex;
        justify-content: left;
        flex-direction: column;
        gap: 0;
        
    }
    .bar .menuBar .appointment{
        width: 100%;
    }
    .bar .menuBar .menu .link,.bar .menuBar .appointment span{
        width: 100%;
        transition: 0.2s ease-in-out;
        padding: 10px 12px;
    }
    .bar .menuBar .menu link:hover,.bar .menuBar .appointment span:hover{
        background-color: #fff ;
        transform: scale(1.02);
    }
    .bar .btnMenu{
        display: flex;
    }
    
 }
 @media  screen and (max-width:576px) {
    .fixed{
        top:-2px;
        padding-top: 0;
    }
 }                            