.footer{
    width: 100%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37,145,251,0.98) 0.1%, rgba(0,7,128,1) 99.8% );
    padding: 50px 12%;
}
.footer .content .title{
    font-size: 28px;
    color: white;
    font-weight: 500;
    font-family: Space Grotesk;
    padding: 20px 0;
}
.footer .content .menu p{
    font-size: 14px;
    font-weight: 500;
    width: max-content;
    cursor: pointer;
    font-family: DM Sans;
    color: white;
}
.footer .content .menu p:hover{
    color: rgb(165, 165, 165);

}
.footer .content .phone,.footer .content .email{
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    font-family: DM Sans;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
    
}
.footer .content .phone:hover,.footer .content .email:hover{
    color: silver;
}
.footer .bottom{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}
.footer .bottom .social{
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.footer .bottom .social a{
    
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    font-size: 15px;
    text-decoration: none;

}
.footer .bottom p{
    font-size: 13px;
    font-weight: 400;
    font-family: DM Sans;

}







@media screen and (max-width:767.98px) {
    .footer .content .title{
        font-size: 26px;

    }
}