.home{
    padding: 15px;
    scroll-behavior: smooth;
    
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
    
}
/* mybutton */
         
.my-button {
    --background-image: linear-gradient(to right, #457fca 0%, #5691c8  51%, #457fca  100%);
    --background-image: linear-gradient(to right, #00c6ff 0%, #0072ff  51%, #00c6ff  100%);
    background:blue;
    padding: 8px 14px;
    font-weight: 500;
    text-align: center;
    width: max-content;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 6px;
    display: block;
    cursor: pointer;
  }

  .my-button:hover {
    background-position: right center; /* change the direction of the change here */
    color: rgb(245,245,245);
    text-decoration: none;
  }
 

.home .section1{

    margin-top: 50px !important;
    background-color:white;

    padding: 70px 18% 90px 18%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 15px;
    
    
} 


.home .section1::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(./../../../public/Assets/background_section1.png);
    background-position: center;
    background-repeat:no-repeat;
    background-size:85% auto;
    opacity: 0.6;
   
}
.home .section1 .contentDiv{
    display: flex;
    flex-direction: column;
    gap: 10px;
} 
.home .section1 .contentDiv .title{
    z-index: 100;
    font-size: 54px;
    font-weight: 700;
    text-align: center;
    font-family: Space Grotesk;
    text-transform: uppercase;
    color: rgb(2,0,36);
    line-height: 150%;
}
.home .section1 .contentDiv .title span{
    border-radius: 6px;
    font-size: 40px;
    font-family: Space Grotesk;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #0025FF 0%, #F00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home .section1 .contentDiv .description{
    font-size: 15.5px;
    text-align: center;
    font-weight: 500;
    color: #035;
    z-index: 100;
}
.home .section1 .row .button{
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    color: #025;
    font-family: DM Sans;
    padding: 6px 0;
    border-bottom: 1.5px solid #025;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 5px;
    z-index: 100;

}           

/* section2 */
.home .section2{
    background-color:rgb(250,250,250);
    padding: 70px 15%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 15px;
    border-radius: 4px;
 
} 
.home .section2 .contentDiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.home .section2 .contentDiv .title{
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Space Grotesk;
    text-align: center;
    color: #035;
}
.home .section2 .contentDiv .title span{
    background: linear-gradient(90deg, #0025FF 0%, #F00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home .section2 .contentDiv .description{
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    color: #035;
    font-family: DM Sans;
}
.home .section2 .serviceDiv{
    display: flex;
    justify-content: center;
    row-gap: 40px;
}
.home .section3{
    margin-bottom: 15px;
    padding: 60px 15%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #fff;
}
.home .section3 .titleDiv{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
    
}
.home .section3 .titleDiv .text{
    font-size: 17px;
    font-weight: 600;
    color: #025;
    font-family: space Grotesk;
}
.home .section3 .titleDiv .title{
    color: #025;
    text-align: center;
    font-family: Space Grotesk;
    font-weight: 700;
    font-size: 54px;
    text-transform: uppercase;
}
.home .section3 .titleDiv .title span{
    background: linear-gradient(90deg, #0025FF 0%, #F00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home .section3 .partnerDiv{
    display: flex;
    row-gap: 25px;
    
}
.home .section3 .partnerDiv .partner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.home .section3 .partnerDiv .partner img{
    --width: 80%;
    height: 30px;
}
.home .section4{
    background-color: rgb(245, 245, 245);
    margin-bottom: 15px;
    flex-direction: column;
    padding: 70px 10%;
    border-radius: 15px;
    gap: 60px;
    box-sizing: border-box;

}
.home .section4 .contentDiv{
    justify-content: space-between;
    box-sizing: border-box;
    row-gap: 30px;
    
    
}
.home .section4 .contentDiv .titleDiv{
    width: 45%;
    padding: 0;
    box-sizing: border-box;
}
.home .section4 .contentDiv .titleDiv .title{
    font-size: 54px;
    color: #025;
    font-family: Space Grotesk;
    text-transform: uppercase;
    font-weight: 700;
}
.home .section4 .contentDiv .titleDiv .title span{
    background: linear-gradient(90deg, #0025FF 0%, #F00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home .section4 .contentDiv .desDiv{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    box-sizing: border-box;
    padding: 0;
    
}
.home .section4 .contentDiv .desDiv .description{
    width: 100%;
    font-size: 16px;
    font-family: DM Sans;
    font-weight: 500;
    color: #035;
    
}
.home .section4 .contentDiv .desDiv .button{
    padding: 8px 14px;
    border-radius: 6px;
    font-size: 16px;
    font-family: DM Sans;
    
}

.home .section4 .softwareDiv{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.home .section4 .btnBox .btnPlus{
    font-size: 16px;
    color: #025;
    font-weight: 600;
    font-family: DM Sans;
    width: max-content;
    padding: 6px 0;
    border-bottom: 1.5px solid #025;
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    cursor: pointer;
}

.home .section5{
    padding: 40px 15%;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: white;
}
.home .section6{
    padding: 70px 10%;
    margin-bottom: 15px;
    background-color: rgb(250,250,250);
    border-radius: 15px;
    flex-direction: column;
    row-gap: 30px;
    box-sizing: border-box;
    
}
.home .section6 .contentDiv .content{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home .section6 .contentDiv .content .title{
    font-size: 54px;
    text-transform: uppercase;
    color: #025;
    font-family: Space Grotesk;
    font-weight: 700;
    box-sizing: border-box;
}
.home .section6 .contentDiv .content .title span{
    background: linear-gradient(90deg, #0025FF 0%, #F00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home .section6 .contentDiv .content .description{
    font-size: 16px;
    color: #025;
    font-family: DM Sans;
    font-weight: 500;
    box-sizing: border-box;
}
.home .section6 .contentDiv .btnDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .section6 .contentDiv .btnDiv .button{
    font-size: 16px;
    padding: 10px 14px;

}
 

 
.home .section6 .serviceDiv{
    border: 1px solid rgb(14, 70, 154);
    box-sizing: border-box;
    overflow: hidden;
}
.home .section6 .serviceDiv .serviceBox{
    border: 1px solid rgb(14, 70, 154);
    box-sizing: border-box;
}

.home .section7{
    padding: 60px 15%;
    margin-bottom: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
    box-sizing: border-box;
}
.home .section7 .titleDiv .title{
    color: #025;
    font-size: 54px;
    font-family: Space Grotesk;
    font-weight: 700;
}
.home .section7 .titleDiv .title span{
    background: linear-gradient(90deg, #0025FF 0%, #F00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home .section7 .contentDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.home .section7 .contentDiv .imgDiv{
    align-items: baseline;
    column-gap: 15%;
}
.home .section7 .contentDiv .imgDiv .img{
    width: 16%;
    height: 200px;
    opacity: 0.5;
    transition: 0.3s ease-out;
}
.home .section7 .contentDiv .imgDiv .img.active{
    width: 25%;
    height: 300px;
    opacity: 1;
    transition: 0.3s ease-out;
    background:none;
}

.home .section7 .contentDiv .staff{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home .section7 .contentDiv .staff .name{
    font-size: 26px;
    color: #025;
    font-weight: 600;
    text-align: center;
    font-family: Space Grotesk;
}
.home .section7 .contentDiv .staff .position{
    font-size: 16px;
    color: #025;
    font-weight: 500;
    text-align: center;
    font-family: DM Sans;
}

.home .section7 .contentDiv .pagination{
    width: 300px;
    background-color: aliceblue;
    height: max-content;
    border-radius: 30px;
    align-items: center;
}
.home .section7 .contentDiv .pagination img{
    cursor: pointer;
    width: 40px;
}
.home .section7 .contentDiv .pagination .rule{
    height: 3px;
    background-color: rgba(198, 198, 198, 0.473);
    border-radius: 5px;
    width: 65%;
    display: flex;
}
.home .section7 .contentDiv .pagination .rule .r{
    flex: 1;
    height: 100%;
}
.home .section7 .contentDiv .pagination .rule .r.active{
    background-image: linear-gradient( 288deg,  rgba(0,85,255,1) 1.5%, rgba(4,56,115,1) 91.6% );
}
.home .section7 .btnDiv .button{
    padding: 10px 0;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    font-family: DM Sans;
    color: #025;
    border-bottom: 1.5px solid #025;
    text-decoration: none;
}

.home .section8{
    width: 80%;
    margin: 50px auto;
    padding: 50px 10% 80px 10%;
    background-color: rgb(250,250,250);
    flex-direction: column;
    border-radius: 6px;
    align-items: center;
}
.home .section8 .titleDiv .title{
    font-size:36px;
    font-weight: 600;
    font-family: Space Grotesk;
    color: #025;
}
.home .section8 .desDiv .description{
    font-size:17px;
    font-weight: 500;
    font-family: DM Sans;
    color: #025;
}
.home .section8 .emailDiv{
    align-items: center;
    position: relative;
    align-items: center;
}
.home .section8 .emailDiv .emailBox i{
    width: 5%;
    height: 100%;

}
.home .section8 .emailDiv .emailBox{
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(192, 192, 192, 0.669);
    padding: 5px 12px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.home .section8 .emailDiv .emailBox .email{
    width: 95%;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 500;
    color: gray;
    border: none;
    outline: none;

}
.home .section8 .emailDiv .btnBox .button{
    padding: 8px 14px;
    width: max-content;
    font-family: DM Sans;
    font-weight: 500;
    background-image: linear-gradient(to right, #457fca 0%, #5691c8  51%, #457fca  100%);
    background:blue;
}

.home .section9{
    padding: 40px 12%;
    margin-bottom: 15px;
    
}
.home .section9 .contentDiv{
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00c6ff, #0072ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: blue;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    
}
.home .section9 .contentDiv .content{
    flex-direction: column;
    row-gap: 10px;
    padding: 40px 8%;
}
.home .section9 .contentDiv .content .title{
    font-size: 32px;
    color: white;
    font-family: Space Grotesk;
    font-weight: 600;
    
}
.home .section9 .contentDiv .content .description{

    font-size: 16px;
    color: white;
    font-family: DM Sans;
    font-weight: 500;  
}
.home .section9 .contentDiv .content .button{

    font-size: 16px;
    color: rgb(35, 113, 237);
    font-family: DM Sans;
    font-weight: 500;
    background: white;
    --background-image: linear-gradient(to right, #005C97 0%, #363795  51%, #005C97  100%);
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.584);
}
.home .section9 .contentDiv .imgBox{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.home .section9 .contentDiv .imgBox img{
    width: 90%;

}



/* x-small devices (portrait phones, less than 576px)*/
@media screen and (max-width: 575.98px) { 
    .home .section7 .contentDiv .imgDiv .img{
        height: 120px !important;
        width: 20%;
    }
    .home .section7 .contentDiv .imgDiv .img.active{
        height: 170px !important;
        width: 30%;
    }
}

/* small devices (landscape phones, less than 768px)*/
@media screen and (max-width: 767.98px) {
    .home .section1{
        margin-top: 50px !important;
        padding: 50px 10% !important;
        gap: 35px;
        
    } 
    .home .section1 .contentDiv .title{
        font-size: 34px;
    }
    .home .section8 .emailDiv .btnBox{
        margin-top: 20px;
    }
    .home .section8 .emailDiv .emailBox i{
        width: 8%;
    }
    .home .section8 .emailDiv .emailBox .email{
        width: 92%;
    }
    .home .section8{
        width: 90%;
        margin: auto;
        padding: 40px 8% 80px 8%;
        background-color: rgb(250,250,250);
        flex-direction: column;
        align-items: center;
    }
    .home .section9{
        padding: 35px 8%;
    }
    .home .section9 .contentDiv .content {
        padding: 20px 5%;
    }
    .home .section9 .contentDiv .content .title{
        font-size: 28px;
    }
    .home .section9 .contentDiv .content .description{
        font-size: 15px;
    }
    .home .section7{
        padding: 40px 0% !important;
    }
    .home .section7 .contentDiv .imgDiv .img{
        height: 120px;
    }
    .home .section7 .contentDiv .imgDiv .img.active{
        height: 200px;
    }
    
}

/* medium devices (tablets, less than 992px)*/
@media screen and (max-width: 991.98px) {
    .home .section1{
        margin-top: 70px;
        padding: 60px 12%;
        gap: 35px;
        
    } 
    .home .section1 .contentDiv .title{
        font-size: 36px;
    }
    .home .section1 .btnDiv .btnBox{
        margin-bottom: 40px
        
    }
    .home .section2{
        padding: 60px 12% ;
    }
    .home .section3 .titleDiv .title{
        font-size: 32px;
    }
    .home .section4{
        padding: 50px 10%;
    }
    .home .section4 .contentDiv .titleDiv{
        width: 100%;
        text-align: center;
    }
    .home .section4 .contentDiv .desDiv{
        width: 100%;
        justify-content: center;
        align-items: center;

    }
    .home .section4 .contentDiv .titleDiv .title{
        font-size: 34px;
    }
    .home .section5{
        padding: 40px 10%;
    }
    .home .section7{
        padding: 50px 10%;
    }
    .home .section7 .titleDiv .title{
        font-size: 34px;
    }
    .home .section9 .contentDiv .content .btn{
        font-size: 15px;
        padding: 8px 14px;       
    }
    .home .section7 .contentDiv .imgDiv .img{
        height: 150px;

    }
    .home .section7 .contentDiv .imgDiv .img.active{

        height: 240px;
    }
}

@media screen and (max-width:1199.98px) {
    .home .section1, .home .section2,.home .section3{
        padding: 60px 13% ;
        
    } 

}

