.software{
    width: 100%;
    height: max-content;
    box-sizing: border-box;
    flex-direction: column;
    gap: 12px;
    transition: 0.3s ease-in-out;

}
.software .imgBox{
    position: relative;
}
.software .imgBox img{
    width: 100%;

}
.software .btnBox{
    width: 100%;
    flex-wrap: wrap;

}
.software .btnBox .button{
    padding: 2px 12px;
    border-radius: 12px;
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     background: white;
    --color: #025;
    color: rgb(0, 0, 0);
    box-shadow: 1px 1px 1px silver;
    font-size: 14px;
    font-weight: 500;
    font-family: DM Sans;
    
}
.software .imgBox i{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 10px;
    transform: rotate(45deg);
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
    
}
.software .name{
    margin-top: 10px;
    font-size: 24px;
    color: #025;
    font-weight: 600;
}
