.counter{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.counter .number{
    font-size: 70px;
    font-weight: 500;
    --width: 100%;
    text-align: center;
    position: relative;

}
.counter .text{
    --width: 100%;
    text-align: center;
    font-size: 15px;
    color: #025;
    font-weight: 500;
}
.counter .number i{
    position: absolute;
    top: -10px;
    right: -20px;
    font-size: 20px;
    font-weight: 600;
}